<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <processors>
          <uiCloneItems>
              <processor patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.UiCloneItems.ConfirmDelegatedArea, Sitecore.XA.Foundation.Multisite']" type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.UiCloneItems.ConfirmDelegatedArea, Sitecore.Support.350376" resolve="true"/>
              <processor patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.BucketItemClone, Sitecore.Buckets']" mode="on"  type="Sitecore.Support.Buckets.Pipelines.UI.BucketItemClone, Sitecore.Support.350376"  method="Execute"/>
              <processor patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel' and @method='Execute']" mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.CloneItems, Sitecore.Support.350376" method="Execute" />
              <processor patch:instead="*[@type='Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel' and @method='RelinkClonedSubtree']" mode="on" type="Sitecore.Support.Shell.Framework.Pipelines.CloneItems, Sitecore.Support.350376" method="RelinkClonedSubtree" />
              <processor patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.UiCloneItems.PopulateDelegatedArea, Sitecore.XA.Foundation.Multisite']" type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.UiCloneItems.PopulateDelegatedArea, Sitecore.Support.350376" resolve="true"/>
              <processor patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.UiCloneItems.ReplaceLinks, Sitecore.XA.Foundation.Multisite']" type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.UiCloneItems.ReplaceLinks, Sitecore.Support.350376" resolve="true"/>
              <processor patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.UiCloneItems.ProtectClone, Sitecore.XA.Foundation.Multisite']" type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.UiCloneItems.ProtectClone, Sitecore.Support.350376" resolve="true"/>
          </uiCloneItems>
      </processors>
  </sitecore>
</configuration>